/* Variables and mixins declared here will be available in all other SCSS files */

$bg_dark: #2f3136;

$bg_light: #36393f;

$name_pf: #cfd0d2;

$sub_pf: #8f9295;

$txt_nav: #898d92;

$logged_acc: #232529;

$accept_btn: #3ba55c;

$details: #232527;

$bg_input: #303339;

$login: #e058f2;

$forget: #049eec;
